{
  "presets": [
    "react",
    ["env", { "modules": false }],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime"
  ],
  "comments": false,
  "env": {
    "development": {
      plugins: [
        ["react-css-modules", {
          "generateScopedName": "[name]__[local]__[hash:base64:5]",
          "filetypes": {
            ".scss": "postcss-scss"
          },
          exclude: 'node_modules',
          webpackHotModuleReloading: true
        }],
        ["react-transform", {
          "transforms": [{
              "transform": "react-transform-hmr",
              // if you use React Native, pass "react-native" instead:
              "imports": ["react"],
              // this is important for Webpack HMR:
              "locals": ["module"]
            }]
            // note: you can put more transforms into array
            // this is just one of them!
        }]
      ]
    },
    "production": {
      "plugins": [
        ["react-css-modules", {
          "generateScopedName": "[hash:base64:5]",
          "filetypes": {
            ".scss": "postcss-scss"
          }
        }]
      ],
    },
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["istanbul"]
    }
  }
}
